<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title >
           GEMAK
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include ('partials/head.html') %> <!------incluir cabezera navegacion----->
       
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="js/MaquinasFiltradas.js"></script>


        <link rel="stylesheet" href="css/style.css">
</head>
<body ">
    <%- include ('partials/navegacion.html')%>

      <!-- ---------------------------------------------------------------------------- Formulario -------------------------------------------------------------------------------->
      <div class="SpaceWork">
        <form action="/addOrden" method="post">       

          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputAddress">Nombre</label>
              <input required type="text" id="Nombre" class="form-control" placeholder="#Nombre..." name = "Nombre" autocomplete="off" >
            </div>

            <div class="form-group col-md-2">
              <label for="inputAddress2">Apellido</label>
              <input required type="text" id="Apellido" class="form-control" placeholder="Apellido" name="Apellido" autocomplete="off">
            </div>

            <div class="form-group col-md-2">
              <label for="inputAddress2">Serie</label>
              <input required type="text" id="Serie" class="form-control" placeholder="Serie" name="Serie" autocomplete="off">
            </div>

            <div class="form-group col-md-2">
              <label for="inputState">Estatus</label>
              <select required id="Estatus"  name="Estatus" class="form-control">
                <option selected>Activo</option>
                <option selected>Vencido</option>
                <option selected>Proceso</option>
              </select>
            </div>

            <div class="form-group col-md-2">
                <label for="inputAddress2">Fecha Vencimiento</label>
                <input required type="date" id="fin" class="form-control"  name="vencimiento" autocomplete="off">
            </div>
          </div>

<!-------------------------------------------------------------------------
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Listo
              </label>
            </div>
          </div>--->

          <button  type="submit" class="btn btn-primary" >Agregar</button>

        </form>
       </div>
<!------------------------------ TABLA-------------------------------------->

    <div class="SpaceWork">
      <table class="table table-bordered table-hover" id="OTRegistros">
        <thead> 
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Serie</th>
            <th>Estatus</th>
            <th>Vencimiento</th>
          </tr>
        </thead>
        <tbody> 
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td id="indice"><%= (i + 1) %></td>
                <td id="Nombre"><%= data[i].nombre %></td>
                <td id="Apellido"><%= data[i].apellido %></td>
                <td id="Serie"><%= data[i].serie %></td>
                <td id="Estatus"><%= data[i].Estatus %></td>
                <td id="Vencimiento"><%= data[i].Vencimiento %></td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
   </div>

<!------------------------------ LINETIME ------------------------------------
<div  class="SpaceWork">
    <div id="MaquinasLap" class="TimeMaquina"> <script type="text/javascript" src="js/Maquinas.js"></script> </div>
  </div>-->


     <!--
     <div class="SpaceWork">
      <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Job Id</div>
          <div class="col col-2">Customer Name</div>
          <div class="col col-3">Amount Due</div>
          <div class="col col-4">Payment Status</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Job Id">42235</div>
          <div class="col col-2" data-label="Customer Name">John Doe</div>
          <div class="col col-3" data-label="Amount">$350</div>
          <div class="col col-4" data-label="Payment Status">Pending</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Job Id">42442</div>
          <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
          <div class="col col-3" data-label="Amount">$220</div>
          <div class="col col-4" data-label="Payment Status">Pending</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Job Id">42257</div>
          <div class="col col-2" data-label="Customer Name">John Smith</div>
          <div class="col col-3" data-label="Amount">$341</div>
          <div class="col col-4" data-label="Payment Status">Pending</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Job Id">42311</div>
          <div class="col col-2" data-label="Customer Name">John Carpenter</div>
          <div class="col col-3" data-label="Amount">$115</div>
          <div class="col col-4" data-label="Payment Status">Pending</div>
        </li>
      </ul>
    </div>-->

    

</body>
</html>